@model TimeTracker.Models.Dto.EffortDto

@{
	ViewData["Title"] = "Edit";
}

<h4>Edit Effort</h4>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@*<div class="form-group">
				<label asp-for="Id" class="control-label"></label>
				<input asp-for="Id" class="form-control" />
				<span asp-validation-for="Id" class="text-danger"></span>
				</div>*@
			<input type="hidden" asp-for="AssignmentId" />
			<div class="form-group mb-3">
				<label asp-for="AssignmentDescription" class="control-label"></label>
				<input asp-for="AssignmentDescription" class="form-control" disabled="disabled" />
				<span asp-validation-for="AssignmentDescription" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="WorkDate" class="control-label"></label>
				<input asp-for="WorkDate" class="form-control" />
				<span asp-validation-for="WorkDate" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="StartTime" class="control-label"></label>
				<input asp-for="StartTime" class="form-control" />
				<span asp-validation-for="StartTime" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="EndTime" class="control-label"></label>
				<input asp-for="EndTime" class="form-control" />
				<span asp-validation-for="EndTime" class="text-danger"></span>
			</div>
			@* <div class="form-group">
				<label asp-for="MinutesUsed" class="control-label"></label>
				<input asp-for="MinutesUsed" class="form-control" />
				<span asp-validation-for="MinutesUsed" class="text-danger"></span>
				</div>*@
			<div class="form-group mb-3">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			@* <div class="form-group">
				<label asp-for="Created" class="control-label"></label>
				<input asp-for="Created" class="form-control" />
				<span asp-validation-for="Created" class="text-danger"></span>
				</div>
				<div class="form-group">
				<label asp-for="DateM" class="control-label"></label>
				<input asp-for="DateM" class="form-control" />
				<span asp-validation-for="DateM" class="text-danger"></span>
				</div>*@
			<div class="form-group form-check mb-3">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
				</label>
			</div>
			<div class="row">
				<div class="col">
					<input type="submit" value="Save" class="btn btn-sm btn-primary" />
					<a asp-action="Index" class="btn btn-sm btn-secondary">Back to List</a>
				</div>

			</div>
		</form>
	</div>
</div>

<div>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
