@model TimeTracker.Models.Dto.ContractDto

@{
	ViewData["Title"] = "Create Contract";
}

<h1>Create Contract</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="CompanyName" class="control-label"></label>
				<input asp-for="CompanyName" class="form-control" />
				<span asp-validation-for="CompanyName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CompanyUrl" class="control-label"></label>
				<input asp-for="CompanyUrl" class="form-control" />
				<span asp-validation-for="CompanyUrl" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="HourlyRate" class="control-label"></label>
				<input asp-for="HourlyRate" class="form-control" />
				<span asp-validation-for="HourlyRate" class="text-danger"></span>
			</div>
			<div class="form-group mb-3">
				<label asp-for="StartDate" class="control-label"></label>
				<input asp-for="StartDate" class="form-control" />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="row mb-3">
				<div class="col">
					<input type="submit" value="Create" class="btn btn-primary" />
				<a asp-action="Index" class="btn btn-secondary">Back to List</a>
				</div>
			</div>
		</form>
	</div>
</div>

<div>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
